body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
.container {
  width: 550px;
  background-color: #ffffff;
  margin: auto;
}

/* ----------NAV---------- */
.container nav {
  padding: 20px 13.9px;
}

.container ol {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.container li {
  cursor: pointer;
}

.container ol img {
  width: 34px;
}

#logo {
  width: 84px;
}
/* ----------MAIN-IMG---------- */

.main-img {
  position: relative;
}

.main-img img {
  width: 534px;
  display: block;
  margin: auto;
  border-radius: 15px;
}

.nope-like-img {
  left: 25px;
  top: 53.96px;
width: 233.91px;
  height: 116.26px;
position: absolute;
transform: rotate(-30deg);
  
}

.nope-like-img img {
  width: 233.91px;
  height: 116.26px;
  
}

.dog-info {
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  top: 630px;
  left: 25px;
}

.dog-info :first-child {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 7.2px;
  color: #f8f8f8;
}

.dog-info :last-child {
  margin-top: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #b7b7b7;
}

/* ----------BUTTONS---------- */

.buttons {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
}

#dislike {
  background-image: url(/images/icon-cross.png);
  background-repeat: no-repeat;
  background-position: center;
}

#liked {
  background-image: url(/images/icon-heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.buttons button {
  margin-top: 24px;
  margin-bottom: 24.13px;
  width: 91.87px;
  height: 91.87px;
  background: #ffffff;
  box-shadow: 0px 10px 20px #e9e9ea;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.buttons button:hover {
  background: #f3f0f0;
}
